/* const img="http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg" */
html,
body {
  background-image: url("https://img.freepik.com/free-photo/blue-smooth-wall-textured-background_53876-106133.jpg?size=626&ext=jpg&ga=GA1.2.1107810357.1688752634&semt=ais");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Numans", sans-serif;
}

.main {
  height: 100%;
  display: flex;
  justify-content: center;
}
.card {
  height: 370px;
  margin-top: 140px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.card-header {
  color: white;
}
span {
  display: block;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;


  border: 0 !important;
}
input {
  width: 250px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  

}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.btn {
  margin-top: 10px;
  color: black;
  background-color: #E6E6FA;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.btn:hover {
  color: black;
  background-color: white;
}
.input-icons i {
  position: absolute;
}
.input-icons {

  margin-bottom: 10px;
}
.icon {
  padding: 10px;
  min-width: 40px;
 
}
h3{
  color: #ccc;
  text-align: center;
}
