.search-bar {
  width: 95%;
  padding: 10px 40px 12px;
  border-radius: 20px;
  outline: 1px solid rgb(193, 193, 193);
}
.team-list {
  width: 80%;
  height: 80vh;
  position: absolute;
  top: 10vh;
  left: 10vw;
}
.searchicon {
  position: absolute;
  top: 4%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 22px;
  color: #555;
}
.add-team{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  width: 5vw;
}
.searchbar{
  width: 100%;
}
.search-team{
  display: flex;
  align-items: center;
}
.teams {
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px;
  margin-top: 5vh;
}
.team-next {
  position: relative;
  left: 80%;
}
#team-card {
  background-color: rgb(226, 226, 226);
}
#right-arrow {
  color: white;
  font-size: 25px;
}
#next-btn {
  border-radius: 7px;
  background-color: #5a2675;
}
#next-btn:hover {
  background-color: #9d72b3;
}

.add-team-icon:hover{
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s ease;
}
.team-card {
  position: absolute;
  max-height: 65vh;
  width: fit-content;
  top: 20%;
  left: calc(47% - 15rem);
  background-color: rgb(255, 255, 255);
  z-index: 10;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#team-card {
 height: fit-content;
}
.add-icon {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.add-icon:hover{
  transform: translateY(0);
}
#addicon-btn {
  background-color: #5a2675;
  height: 4vh;
  width: 1vw;
}

#addicon-btn:hover {
  background-color: #9d72b3;
  transform: translateY(-2px);
  transition: 0.3s ease;
}
.close-icon {
  z-index: 5;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
#closeIcon-btn {
  border-radius: 100%;
  background-color: transparent;
  font-size: 10px;
  width: 20px;
  height: 20px;
  position: relative;
  left: 5px;
  padding: 3px;
 
}
#closeIcon-btn:hover{
    background-color: red;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    transition: 0.3s ease;
    color: white;
    padding: 3px;
    cursor: pointer;
}
.add-teammate{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 20px;
}
.enter-txt{
  position: relative;
  top: 8px;
  color: #5a2675;
  font-weight: 600;
}
.err-msg{
  display: flex;
  justify-content: flex-start;
  width: 60%;
  font-size: 12px;
  height: fit-content;
  color: #F24C3D;
  font-weight: 500;
}

.input-field{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
#input-teammate:hover {
  outline: none;
  cursor: pointer;
  border: 1px solid #5a2675;
}
#input-teammate:focus{
  cursor: text;
}
#input-teammate{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #c89bdf;
}
#buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#buttons:hover{
  transform: translateY(0px);
}
 #cancel-btn{
  color: rgb(255, 255, 255);
  background-color: #F24C3D;
  height: 4vh;
  width: 4vw;
}
#cancel-btn:hover,#update-btn:hover{
  transform: translateY(-2px);
  transition: 0.3s ease;
}
#update-btn{
  background-color: #59CE8F;
  height: 4vh;
  width: 4vw;
}
.input-err{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%
}
.team-members{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.delete-icon{

}
.delete-icon:hover{
  cursor: pointer;
  transform: translateY(-1.5px);
  transition: 0.3s ease;
}