.textheading{
    padding-left: 170px;
    font-weight: bold;
  }
.TimesheetEmployee {
    align-items: center;
  }

.timesheetform{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: 5px 10px 18px #888888;
  }
.heading{
    margin-left: 100px;
  }
.timesheetslabel{
    font-weight: bold;
  }
  
.timesheetinputs{
    width: 80vw;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    
  }
  
.timesheetbutton {
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(139, 176, 199);
    margin-left: 450px;
    margin-bottom: 20px;
  }
.Model{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid purple;
    align-self: center !important;
    width: 80vw;
    margin-left: 10vw;
  }
  
.screenshot{
    width: 500px;
    height: 500px;
  }
  /* img {
    width: 300px;
    height: 300px;
  } */

.previoustimesheets{
    margin-top: 2%;
}

.timesheetblock{
    margin-top: 1vw;
    margin-left: 100px;
    background-color: rgb(190, 49, 190);
    border: 1px solid #000;
    width: 87vw;
    padding-left: 10px;
    padding-right: 10px;
    
}
.innerblock 
{
  background-color: white;
  border-radius: 5px;
  padding-left: 2px;
  margin-bottom: 10px;
}
/* .timesheetHrs
{
  margin-bottom: 5px;
  margin-left: 77vw;
  color: white;
} */
.timesheetdetails 
{
   display: flex;
}
.timesheetsheader {
  display: flex;
  justify-content: space-between;
  color: white;
}