.whole-page{
  display: flex;
width: 100%;

}
.left-half{
  width:50%;

}
.right-half{
  width:50%;
  display: flex;

  justify-content: center;

}


.searchbox {

display: flex;





 

}
.searchbox i {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 1px;
  border: 1px solid purple;
  color: purple;
  border-radius: 0px 10px 10px 0px;
}

.search-input {
width: 100%;
  height: 40px;
  border-radius: 10px ;

  border: 1px solid purple;

  outline: 0 0 0 0 !important;
}

input:focus-visible {
  border: 2px solid purple;
}
.boxes {

  list-style: none;
width: 100%;
  
}
.box {
  padding: 10px;

margin: 2px;
  border-radius: 10px;
  background-image:linear-gradient(to right,#c9a8f1,white, #c9a8f1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.edit-btn {
  display: flex;
  justify-content: flex-end;
}

.team-btn{
margin-left: 2px;
  border-radius: 10px;
  color: white;
  background-color: purple;
}