

.whole-page {
  display: flex;
  flex-direction: column;
  justify-content: center; 

  width: 100%;
  margin-top: 30px;
}



::-webkit-scrollbar {
  width: 5px;
}

.searchbox {
  display: flex;
}

.search-input {
  width: 100vw;


  height: 40px;
  border-radius: 10px;

  border: 1px solid purple;

  outline: 0 0 0 0 !important;
}

input:focus-visible {
  border: 2px solid purple;
}
.boxes {
  list-style: none;
  width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
 
 
}


.card-box {

  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 300px;
width: 300px;

  border-radius: 10px;
  background-image: linear-gradient(to right, #c9a8f1, white, #c9a8f1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.edit-btn {
  display: flex;

  justify-content: flex-end;
}

.team-btn {
  margin-left: 2px;
  border-radius: 10px;
  color: white;
  background-color: purple;
}



@media screen and (max-width: 700px) {
  .whole-page {
    margin: 30px; 
  }
  
  .search-input {
    width: 90vw;
  }

  .container {
    width: 100%; 
    justify-content: center; 
  }
  
  .card-box {
    width: 80%; 
  }
  

}

