
.leave-info-cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  gap: 20px;
}

.leave-info-card {
  border-radius: 8px;
  box-shadow: #c9a8f1 0px 2px 8px 0px;
  padding: 0.5%;
  width: 25%;
  cursor: pointer;
  transition: all 0.2s ease;
}
